<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="<%= new_user_url %>">Sign up</a>
<a href="<%= new_session_url %>">Sign In </a>
  <a href="<%= users_url %>">Home!</a>
  <% if current_user %>
  <form action ="<%= session_url(current_user) %>" method ="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name ="_method" value = "DELETE">
    <input type="submit" value = "log out">
  </form>
  <%end %>
    <%= yield %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <h3> <%= error %> </h3>
      <% end %>
    <% end %>
  </body>
</html>
