
<table>
    <thead>
        <tr>
            <th colspan="2">Look at this Cat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cats Name</td>
            <td><%= @cat.name %></td>
            </tr>

            <tr>
            <td>Cats Birthday</td>
            <td><%= @cat.birth_date %></td>
            </tr>
            
            <tr>
            <td>Cats Color</td>
            <td><%= @cat.color %></td>
            </tr>
            
            <tr>
            <td>Cats Sex/Neutered</td>
            <td><%= @cat.sex %></td>
            </tr>
            
            <tr>
            <td>Cats Bio</td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
</table>
